// 按照範例來都沒有辦法套用 css 只能用這種方式來載入= =
//@import url("//cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css");
//@import url("//cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css");
//@import url("//unpkg.com/iview/dist/styles/iview.css");
//@import url("//fonts.googleapis.com/icon?family=Material+Icons");

@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");

.wf-roundedmplus1c {
	font-family: "M PLUS Rounded 1c" !important;
}

a
{
	text-decoration: none;
}

.text-color-inherit
{
	color: inherit;
}

$scrollbar-width: 10px;
$scrollbar-background-color: rgba(0,0,0,0.3);

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px $scrollbar-background-color;
	background-color: $scrollbar-background-color;
	//border-radius: $scrollbar-width;
}

::-webkit-scrollbar
{
	width: $scrollbar-width;
	background-color: $scrollbar-background-color;
}

::-webkit-scrollbar-thumb
{
	border-radius: $scrollbar-width;
	background-image: -webkit-gradient(linear,
		left bottom,
		left top,
		color-stop(0.86, rgb(28,58,148)),
		color-stop(0.44, #ee44aa),
		color-stop(0.72, #ee44aa)
	);

}

:root
{
	overflow: auto;
}

.--fill-width
{
	width: 100%;
}
